:root {
    --background-color: #ececec;
    --text-color: #e0e0e0;
    --accent-color: #54a1bf;
    --button-hover: #ffb7b2;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer p {
    color: #2c3540;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #171C26;
    position: relative;
}
header h1 {
    color: var(--text-color);
    margin-left: 20px;
    font-size: 1.5rem;
}

#page-nav {
    position: relative;
}
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}
.menu-icon span {
    height: 3px;
    width: 25px;
    background: var(--text-color);
    margin: 4px 0;
}
.menu {
    font-size: 15px;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-right: 60px;
}
.menu li {
    display: inline;
}
.menu li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    padding-bottom: 5px;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    max-width: 250px;
}
.menu li a:hover {
    color: var(--accent-color);
}
.menu li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2c3540;
    width: 60%;
    margin: 20px auto;
    padding: 10px;
}
.profile-picture img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border: 3px solid var(--accent-color);
    border-radius: 20px;
}
.about-text {
    text-align: left;
    max-width: 50%;
}
.about-text h1 {
    font-size: 2.5rem;
    margin: 0;
}
.about-text p {
    text-align: left;
    max-width: 80%;
}

#about, .container {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}
#about p, ul, .container p {
    color: #2c3540;
    line-height: 1.5;
    text-align: justify;
}
#about h2, .container h2 {
    font-size: 2rem;
    color: #2c3540;
    text-align: center;
}
#about h3 {
    font-size: 1.3rem;
    color: #2c3540;
    text-align: left;
}

.timeline {
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}
.timeline h2 {
    text-align: left;
    font-size: 16px;
    color: var(--accent-color);
}
.timeline p {
    text-align: center;
    font-size: 14px;
    color: var(--accent-color);
}
.timeline ul li {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    color: #ececec;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--accent-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}
.timeline-item {
    padding: 10px 10px;
    position: relative;
    background: #1e1e1e;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(126, 202, 232, 0.898);
}
.left {
    left: -20%;
}
.right {
    left: 55%;
}
.timeline-item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -11.5%;
    background-color: var(--accent-color);
    border: 2px solid white;
    top: 50px;
    border-radius: 50%;
    z-index: 1;
}
.right::after {
    left: -11.5%;
}

.timeline-date {
    position: absolute;
    text-wrap: nowrap;
    top: 45px;
    font-size: 18px;
    font-weight: 600;
    color: var(--accent-color);
}
.left .timeline-date {
    right: -40%;
    text-align: right;
    width: 100px;
}
.right .timeline-date {
    left: -50%;
    text-align: left;
    width: 100px;
}

.btn {
    background: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.btn:hover {
    background: white;
    color: var(--accent-color);
    font-weight: bold;
    border: 1px solid var(--accent-color);
}

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
.scroll-top-btn:hover::after {
    content: "Back to Top";
    position: absolute;
    bottom: 50px;
    right: 5px;
    background: #1e2e34;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 11px;
    white-space: nowrap;
}
.scroll-icon {
    width: 40px;
    height: 40px;
}

/*Slide In Effect Styling*/
/* General hidden state before animation */
.hidden {
    opacity: 0;
    transform: translateY(40px); /* Adjust based on direction */
    transition: all 0.8s ease-out;
}
/* Slide in from bottom */
.slide-in-bottom {
    transform: translateY(40px);
}
/* Slide in from left */
.slide-in-left {
    transform: translateX(-40px);
}
/* Slide in from right */
.slide-in-right {
    transform: translateX(40px);
}
/* When elements are in view, activate animation */
.show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

@media screen and (max-width: 1007px) {
    header {
        width: 100%;
    }
    header h1 {
        font-size: 1.2rem;
    }
     .profile-picture img {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
    }
    .about-text h1, #about h2, .container h2 {
        font-size: 1.8rem;
    }
    .about-text p, #about p, .container p {
        font-size: 0.95rem;
    }
    .timeline::after {
        width: 90%;
        align-items: center;
        display: none;
        }
    .timeline-item {
        width: 100%;
        left: 0 !important;
        }
    .timeline-item p {
        text-align: left;
    }
    .timeline-item::after {
        display: none;
        }
    .timeline-date {
        position: relative;
        text-align: left;
        width: 90%;
        left: 0 !important;
        right: 0 !important;
        padding-top: 0;
        margin-bottom: 50px;
        display: block;
        }
    .btn {
        background: var(--accent-color);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 10px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        }
    .btn:hover {
        background: white;
        color: var(--accent-color);
        font-weight: bold;
        border: 1px solid var(--accent-color);
    }
}

@media screen and (max-width: 640px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-icon {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .menu {
        display: none;
        flex-direction: column;
        background: #171C26;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        text-align: left;
        max-width: 250px;
        white-space: nowrap;
    }
    .menu li {
        padding: 10px 20px;
        border-top: 1px solid #2c3540;
    }
    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
    .about-text {
        width: 90%;
    }
    .about-section {
        flex-direction: column;
        align-items: center;
    }
    .profile-picture img {
        width: 200px;
        height: auto;
        margin-top: 30px;
    }
    #about {
        margin-top: 10px;
    }
    .about-section {
        width: 90%;
    }
    .about-text h1 {
        text-align: center;
    }
    .about-text p {
        max-width: 100%;
        text-align: justify;
    }
    .timeline {
        width: 80%;
    }
    .timeline-item {
        width: 100%;
        box-shadow: none;
        animation: none;
    }
    .timeline-date {
        font-size: 1rem;
        text-align: center;
    }
}
